src/background/*
!src/background/.gitkeep
src/preview/*
!src/preview/.gitkeep
src/tempthemephoto/*
!src/tempthemephoto/.gitkeep
src/temptheme/*
!src/temptheme/.gitkeep
src/Theme/*
!src/Theme/.gitkeep
/venv/
setup.cfg
__pycache__
!/src/ThemeLink/.gitkeep
新功能.txt