file/background/*
!file/background/.gitkeep
file/preview/*
!file/preview/.gitkeep
file/tempthemephoto/*
!file/tempthemephoto/.gitkeep
file/temptheme/*
!file/temptheme/.gitkeep
file/Theme/*
!file/Theme/.gitkeep
/venv/
config/setup.cfg

